services:
  auto-wa-reply-fe:
    container_name: auto-wa-reply-fe
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3008:3008"
    environment:
      NODE_ENV: production
      PORT: 3008
      NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
